<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="checkout-shipping-method-load">
    <table class="table-checkout-shipping-method">
        <thead>
        <tr class="row">
            <th class="col col-method" translate="'Select Method'"></th>
            <th class="col col-price" translate="'Price'"></th>
            <th class="col col-method" translate="'Method Title'"></th>
            <th class="col col-carrier" translate="'Carrier Title'"></th>
        </tr>
        </thead>
        <tbody>
        <!-- ko foreach: { data: rates(), as: 'method'} -->
        <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
        <!-- /ko -->
        <tr class="row row-additional form">
            <td colspan="4">
                <table>
                    <tbody>
                    <tr>
                        <td class="field">
                            <label attr="'for': 'label_' + carrier.carrier_code" class="required" translate="'Shipping Carrier (UPS, FedEx or Special Carrier Name)'"></label>
                            <input attr="'name': 'label_' + carrier.carrier_code,
                                     'id': 'label_' + carrier.carrier_code"
                                   data-bind="textInput: element.selected_carrier" class="required int_specialcarrier_input input-text"
                                   type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label attr="'for': 'label_account_' + carrier.carrier_code" class="required" translate="'Shipping Carrier Account Number'"></label>
                            <input attr="'name': 'label_account_' + carrier.carrier_code,
                                     'id': 'label_account_' + carrier.carrier_code"
                                   data-bind="textInput: element.carrier_account" class="required int_specialcarrier_input input-text"
                                   type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label attr="'for': 'label_method_' + carrier.carrier_code" class="required" translate="'Shipping Method (Ground, Next Day, Standard, etc)'"></label>
                            <input attr="'name': 'label_method_' + carrier.carrier_code,
                                     'id': 'label_method_' + carrier.carrier_code"
                                   data-bind="textInput: element.carrier_method" class="required int_specialcarrier_input input-text"
                                   type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label attr="'for': 'label_instructions_' + carrier.carrier_code" translate="'Special Instructions'"></label>
                            <textarea attr="'name': 'label_instructions_' + carrier.carrier_code,
                                     'id': 'label_instructions_' + carrier.carrier_code"
                                      data-bind="textInput: element.carrier_instructions" class="required int_specialcarrier_input input-text"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>